<div ng-controller="inboxList as inbox" class="inboxList">
    <div class="alert alert-dismissible alert-danger" ng-show="inbox.error">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times-circle-o"></i></button>
        <strong>Oh snap! {{inbox.error}}</strong>
    </div>

    <div class="list-group" ng-repeat="letter in inbox.list">
        <a  class="list-group-item" href="#letter_{{letter.id}}"
            role="button" data-toggle="collapse" aria-expanded="false">
            <h5 class="list-group-item-heading">{{letter.name}}</h5>
        </a>
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default" title="Ответить"><i class="fa fa-reply"></i></a>
            <a href="#" class="btn btn-default" title="Спам"><i class="fa fa-exclamation-triangle"></i></a>
            <a href="#" class="btn btn-default" title="Удалить"><i class="fa fa-trash-o"></i></a>
        </div>

        <div class="collapse" id="letter_{{letter.id}}">
            <div class="well">
                <p><strong>От кого: </strong> {{letter.email}}</p>
                <hr>
                <p>{{letter.body}}</p>
            </div>
        </div>
    </div>
</div>